
*{
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20%;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-box {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    max-width: 80%;
    display: flex;
  }

  .search-input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
  }

  

  .search-btn {
    background-color: #f2f2f2;
    border: none;
    padding: 8px 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    background-color: #98eed8;
  }

  .search-btn:hover {
    background-color: #e5e5e5;
  }
/* Page result style */
  ul {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }

  li {
    display: table-row;
    border-bottom: 1px solid #ccc;
  }

  li:last-child {
    border-bottom: none;
  }

  .result {
    display: table-cell;
    padding: 8px;
  }

  /* .highlight {
    background-color: yellow;
    font-weight: bold;
  } */